@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit/Outfit-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 700;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
}

html {
  font-size: 15px;
  font-family: "Outfit";
}

body {
  background-color: var(--color-slate-300);
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.qr-card {
  --card-radius: 5%;
  --card-width: 320px;
  --card-shadow-color: color-mix(
    in srgb,
    var(--color-slate-300),
    var(--color-slate-500)
  );
  --img-size: calc(var(--card-width) - 2rem);
  --img-radius: 3%;

  background-color: var(--color-white);
  width: var(--card-width);
  height: fit-content;
  text-align: center;
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1rem 2rem var(--card-shadow-color);

  & .qr-card-image {
    width: var(--img-size);
    height: var(--img-size);
    border-radius: var(--img-radius);
    overflow: hidden;
    margin-block: 1rem;

    & img {
      width: 100%;
    }
  }

  .qr-card-content {
    margin-inline: 1.5rem;
    margin-bottom: 1.5rem;
    padding-inline: 0.5rem;

    & h1,
    p {
      margin-bottom: 1rem;
    }

    & h1 {
      color: var(--color-slate-900);
    }

    & p {
      color: var(--color-slate-500);
    }
  }
}
